.services-grid{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(280px,1fr));

gap:25px;

padding:40px;

}

.service-card{

background:#fff;

border-radius:20px;

padding:25px;

box-shadow:0 10px 25px rgba(0,0,0,.08);

text-align:center;

transition:.3s;

}

.service-card:hover{

transform:translateY(-8px);

}

.service-card h3{

color:#2b7cff;

font-size:30px;

margin:20px 0;

}

.book-btn{

width:100%;

padding:15px;

font-size:18px;

border:none;

border-radius:12px;

cursor:pointer;

background:#2b7cff;

color:white;

transition:.3s;

}

.book-btn:hover{

background:#135fd1;

}

.carousel{

display:flex;

gap:20px;

overflow-x:auto;

scroll-behavior:smooth;

scrollbar-width:none;

padding-bottom:10px;

}

.carousel::-webkit-scrollbar{

display:none;

}

.carousel-card{

min-width:350px;

background:white;

border-radius:20px;

padding:20px;

box-shadow:0 10px 25px rgba(0,0,0,.08);

flex-shrink:0;

transition:.3s;

}

.carousel-card:hover{

transform:translateY(-8px);

}